body{
  height: 125vh;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  background-size: cover;
  font-family: sans-serif;
}
header{
  background-color: #D4F1F4;
  position: sticky;
  margin-left: 0;
  margin-right: 0;
  top: 0px;
  height: 100px;
  display: flex;
  align-items: center;
}
header *{
  display: inline;
}
header li{
  margin: 20px;
  text-align: right;
}
header li a{
  color: #189AB4;
  text-decoration: none;
}
header li a:hover{
  color: #05445E
}
.menu-items{
  margin-left: 700px;
  display: inline-block;
  align-items: center;
}
.logo{
  width: 5rem;
  display: inline-block;
  background-size: cover;
  position: sticky;
}
.carousel-item{
  height:40rem;
}
.row{
  display: flex;
  text-align: center;
}
.column{
  flex: 50%;
  text-align: center;
}
h1{
  text-align: center;
}
.column2{
  flex: 25%;
  text-align:
  
}
